<%= stylesheet_link_tag "signup_signin", media: "all", "data-turbolinks-track": true %>
<div id="login-box">
  <div class="left">
    <h1 class="title"><%= t "devise.edit_user.title" %></h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name, t("devise.name") %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name"%>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-edit" %>
      </div>

      <div class="field">
        <%= f.label :password, t("devise.password") %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-edit" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, t("devise.password_confirmation") %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-edit" %>
      </div>

      <div class="field">
        <%= f.label :current_password, t("devise.current_pass") %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-edit" %>
      </div>

      <div class="actions">
        <%= f.submit t("devise.edit_user.update") %>
      </div>
    <% end %>
  </div>
  <div class="right">
    <span class="loginwith"><%= t "sign_up.sign_in_with_social_network" %></span>
    <button class="social-signin facebook"><%= t "sign_up.log_in_with_facebook" %></button>
    <button class="social-signin google"><%= t "sign_up.log_in_with_google" %></button>
  </div>
</div>
