<%= stylesheet_link_tag "signup_signin", media: "all", "data-turbolinks-track": true %>
<div id="login-box">
  <div class="left">
    <h1 class="title"><%= t "sign_up.sign_up" %></h1>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "text", placeholder: t("form.full_name") %>
      <%= show_message_for_field(@user, :name) %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text", placeholder: t("form.email") %>
      <%= show_message_for_field(@user, :email) %>

      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> <%= t "sign_up.characters_minimum" %>)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "password", placeholder: t("form.password") %>
      <%= show_message_for_field(@user, :password) %>

      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password", placeholder: t("form.password_confirmation") %>
      <%= show_message_for_field(@user, :password_confirmation) %>

      <div class="actions">
        <%= f.submit t("sign_up.sign_up").upcase, class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
  <div class="right">
    <span class="loginwith"><%= t "sign_up.sign_in_with_social_network" %></span>
    <button class="social-signin facebook"><%= t "sign_up.log_in_with_facebook" %></button>
    <button class="social-signin google"><%= t "sign_up.log_in_with_google" %></button>
  </div>
</div>
