<%= stylesheet_link_tag "signup_signin", media: "all", "data-turbolinks-track": true %>
<div id="login-box">
  <div class="left">
    <h1 class="title"><%= t "sign_up.sign_up" %></h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.text_field :name, class: "text", placeholder: t("form.full_name"),
                         autofocus: true, autocomplete: "name" %>
        <%= show_message_for_field(@user, :name) %>
      </div>

      <div class="field">
        <%= f.email_field :email, class: "text", placeholder: t("form.email"),
                          autofocus: true, autocomplete: "email" %>
        <%= show_message_for_field(@user, :email) %>
      </div>

      <div class="field">
        <%= f.password_field :password, class: "password",
                                        placeholder: t("form.password_signup"),
                                        autocomplete: "new-password" %>
        <%= show_message_for_field(@user, :password) %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, class: "password", placeholder: t("form.password_confirmation"), autocomplete: "new-password" %>
        <%= show_message_for_field(@user, :password_confirmation) %>
      </div>

      <div class="actions">
        <%= f.submit t("sign_up.sign_up").upcase, class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
    <div class="right">
      <span class="loginwith"><%= t "sign_up.sign_in_with_social_network" %></span>
      <button class="social-signin facebook"><%= t "sign_up.log_in_with_facebook" %></button>
      <button class="social-signin google"><%= t "sign_up.log_in_with_google" %></button>
    </div>
  </div>
<%= render "devise/shared/links" %>
