<p><%= t "devise.content_email.hello" %> <%= @resource.email %>!</p>

<p><%= t "devise.content_email.subject" %></p>

<p><%= link_to t("devise.content_email.change_pass"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "devise.content_email.ignore" %></p>
<p><%= t "devise.content_email.notification" %></p>
