<p><%= t "devise.mail.hello" %> <%= @resource.email %>!</p>

<p><%= t "devise.mail.requested_change_password" %></p>

<p>
  <%= link_to t("devise.mail.change_my_password"),
    edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p><%= t "devise.mail.ignore_email" %></p>
<p><%= t "devise.mail.password_wont_change" %></p>
